*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
    color: white;
}
:root {
    /* Color */
    --white-color: #ffff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*​​ Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radium-s: 8px;
    --border-radium-m: 30px;
    --border-radium-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar {
    width: 98%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar .nav-logo{
    width: 15%;
    height: 90%;
}
header .navbar .nav-logo img{
    width: 100%;
    height: 100%;
}
header .navbar ul {
    font-size: 25px;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar ul li a {
    color: black;
}