*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: White;
    background-color: #D27D2D;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
header nav{
    width: 15%;
    text-align: center;
    font-size: 30px;
}
header nav a{
    text-decoration: none;
    font-weight: bold;
}
header nav a:hover{
    color: white;
}
header nav a i:hover{
    color: white;
}
header #search-btn{
    font-size: 15px;
    width: 30%;
}
header #search-btn input{
    border-radius: 6px;
}
header ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
header ul li{
    width: 13%;
    text-align: center;
}
header ul li a{
    text-decoration: none;
}
header ul li a:hover {
    color: white;
}
header ul li a i:hover {
    color: white;
}
header ul li #login-btn {
    /* border:solid; */
    border-radius: 10px;
}
