*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
header {
    background-color: skyblue;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    /* background-color: blue; */
    width: 10%;
    text-align: center;
}
header nav a{
    text-decoration: none;
    font-weight: bold;
}
header #search-btn{
    /* background-color: brown; */
    width: 30%;
}
header #search-btn input{
    border-radius: 6px;
}
header ul {
    /* background-color: blueviolet; */
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
}
header ul li a::hover {
    color: white;
}
header ul li #login-btn {
    border: 2px solid blue;
    background: blue;
    border-radius: 10px;
}